<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    <link rel="stylesheet" href="../static/styles/components.css">
    <link rel="stylesheet" href="../static/styles/analytics.css">
    <link rel="stylesheet" href="../static/styles/root.css">
    <link rel="stylesheet" href="../static/styles/fonts.css">
    <link rel="stylesheet" href="../static/assets/icons/regular-icon-font-free/lineicons.css">
    <link rel="stylesheet" href="../static/assets/icons/fontawesome-free-6.5.2-web/css/all.min.css">
</head>
<body>
    <header class="header">
        <span id="navOpen" class="lni lni-dashboard-square-1" onclick="openNav()"></span>
        <div class="logo">Uni<span>Center</span></div>
        <nav class="navigation" id="sideNav">
            <div id="navClose" onclick="closeNav()">
                <span  class="lni lni-exit"></span>
                <p>Close</p>
            </div>
            <a href="#" class="active"><span class="lni lni-dashboard-square-1"></span> Dashboard</a>
            <a href="./orders.html"><span class="lni lni-basket-shopping-3"></span> Orders</a>
            <a href="./inventory.html"><span class="lni lni-box-closed"></span> Inventory</a>
            <a href="#"><span class="lni lni-bar-chart-4"></span> Analytics</a>
            <a href="#"><span class="lni lni-gear-1"></span> Settings</a>
        </nav>
        <div class="profile_container">
            <div class="profile_row">
                <span class="lni lni-user-4"></span>
                <div class="profile_info">
                    <h3 class="profile_name">John Doe</h3>
                    <p>Admin</p>
                </div>
            </div>
        </div>
    </header>

    <div class="analytics_tabs">
        <button class="tab-btn active" data-tab="revenue">Revenue Growth</button>
        <button class="tab-btn" data-tab="orderValue">Average Order Value</button>
        <button class="tab-btn" data-tab="topProducts">Top Selling Products</button>
        <button class="tab-btn" data-tab="lowStock">Low Stock Alerts</button>
    </div>

    <div class="tab-content active" id="revenue"><div id="revenueChart"></div></div>
    <div class="tab-content" id="orderValue"><div id="orderValueChart"></div></div>
    <div class="tab-content" id="topProducts"><div id="topProductsChart"></div></div>
    <div class="tab-content" id="lowStock"><div id="lowStockChart"></div></div>


    <script src="../static/scripts/chart-intergration.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script>
        const tabBtns = document.querySelectorAll(".tab-btn");
        const tabContents = document.querySelectorAll(".tab-content");

        tabBtns.forEach(btn => {
            btn.addEventListener("click", () => {
                tabBtns.forEach(b => b.classList.remove("active"));
                btn.classList.add("active");

                const tab = btn.getAttribute("data-tab");
                tabContents.forEach(content => {
                content.classList.toggle("active", content.id === tab);
                });
            });
        });
    </script>

</body>
</html>