#navOpen {
    display: none;
    font-size: 20px;
    color: var(--color-alt);
    margin-right: 20px;
}

.order_section {
    width: 100%;
    padding: 1rem;
    background-color: white;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
}